body
{background: #1658F2;}
#header {
	font-size: 28px;
	font-family: cursive;
	margin:auto;
	width:55%;

}
#present{
	width:35%;
	margin:auto;
	font-size : 18px;
}
#format_div,#total_length{
width:35%;
font-size: 20px;
	margin: auto;}
#format_data{
	font-size: 15px;
	border-radius: 20px;
}
#header p{
color: white;
border-bottom: 4px #48DFD8	 dashed;
border-left: 4px #48DFD8	 dashed;

}

#insert_div{border-radius: 40px;
	background: #48DFD8;
	height: 80px;
	padding-top: 20px;
	width: 60%;
	margin:auto;

border-left: 1px black solid;
border-right: 1px black solid;
}
#insert_div input{
	background: black;
	color: white;
	width: 350px;
	height: 45px;
	border-radius: 50px;
	border:3px solid lightblue;
	font-size: 20px;
	margin-left: 10%;
}
#insert_div button{
	font-weight: bold;
	color: #0D9B07;
	border-radius: 20px;
	width: 80px;
	height: 40px;
}
#ul li{font-size: 22px; padding-left: 10px; margin-bottom: 5px; 
border-radius: 30px;}
#list_div{
	border-left: 2px black solid;
	border-right: 2px black solid;

	width: 60%;
	border-radius: 30px; background: #D9DFD7;
	margin:auto;}
	li:nth-child(even){background: #98E5E0;
	}
li:nth-child(odd){background:#3969E3}
.mod{
	width: 80px;
	margin-left: 20px;
	float: right;
	height: 20px;
	background: #E3CE39;
	margin-top: 3px;
	border-radius: 20px;
}
.del{
	width: 80px;
	margin-left: 10px;
	float: right;
	height: 20px;
	margin-right: 40px;
	margin-top: 3px;
	background: #F0426D;
	border-radius: 20px;
}
.hide{
	display: none;
}

@media only screen and (max-width: 400px) {
	#header p{
		width: 80%;
		margin: auto;
	font-size: 25px;
	}
	body{width:100%;}
	#header { width:100%;
		}
	#present{font-size: 60px;
	width: 80%;}
	#insert_div{
		height: 40px;
		width: 95%;
margin-top:10px;
padding-top: 4px;
margin-left:0px;
	}
	#insert_div input{
		width: 90%;
		height: 30px;
	margin-left: 10px;
	}
	#insert_div button{
		width :100%;
		height: 35px;
		margin-top: 10px;
	}
	#present{
		font-size: 25px;
		margin-top:70px;
		margin-left: 0px;
	}
	#format_div{
		padding-top: 20px;
		font-size: 17px;
		width: 100%;
		margin:0px;
	}
	#format_div #format_data{
		width: 25%;
		font-size: 11px;
	}
	#ul{
		margin-top: 70px;
		padding-left: 0px;
	}
	#list_div{width:90%; padding-bottom:35px;
		padding-top:0px;}
	#ul li .del{ width:80%;   margin-left: 100px; 
	}
	#ul li .mod{ width:80%; margin-right: 40px;
	}
	#ul li{margin-top: 50px;}
}



























